body {
	background: #000;
}
#roller {
	background: #000 url(back.jpg) 0 0 ;
	position: absolute;
	width: 600px;
	height: 400px;
	overflow: hidden;
	font-family: Arial, sans-serif;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -300px;
	z-index: 10000;
}
.ad {
	position: absolute;
	top: 0;
	left: 50%;
	width: 800px;
	margin-left: -400px;
}
#ball {
	position: absolute;
	left: 292px;
	top: 192px;
	width: 24px;
	height: 24px;
}
#plane {
	position: absolute;
}
.tile {
	position: absolute;
	width: 100px;
	height: 100px;
	background: url(tile.png);
}
.tile2 {
	background: url(tile2.png);
}
.tile3 {
	background: url(tile3.png);
}
.tile4 {
	background: url(tile4.png);
}
.tile5 {
	background: url(tile5.png);
}
.tile6 {
	background: url(tile6.png);
}
.tile7 {
	background: url(tile7.png);
}
.tile8 {
	background: url(tile8.png);
}
.tile9 {
	background: url(tile9.png);
}
.tile11 {
	background: url(tile11.png);
}
.tile12 {
	background: url(tile12.png);
}
#level {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
#back {
	position: absolute;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	top: 10px;
	right: 10px;
}
#splash {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 400px;
	background: url(splash.png);
	overflow: hidden;
}
#splash div {
	margin: 280px 50px 0;
	text-align: center;
}
#splash div a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #666;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 5px;
	display: inline-block;
}
#splash div a:hover {
	background-color: #666;
}